body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2' sans-serif;
}


.header {
    background-color: #000407;
    color: #32B9CD;
    border-bottom: 3px solid #32B9CD; 

  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .header .container {
    display: flex;
    justify-content: space-between;

  }
  
  .navbar {
   display: flex;
   list-style: none;
   width: 400px;
   justify-content: space-between;
   align-items: center;


  }
  
  p {
    margin: 20px 30px 40px 50px;

  }

 .navbar a {
    text-decoration: none;
    color: #e3b062;

  }

  .agora {
      font-weight: 900;
      text-shadow: white 2px 2px 2px 5px;

  }

  .banner {
    background-image: url('img/bg-jelly-fish-para_outras_pags.png');
    background-size: cover;
  }

  .banner .container {
    height: 550px;
    display: flex;
    color: white;
    align-items: center;
    
  }

  .banner .container.login {
   justify-content: center;


  }

  .banner p {
   font-size: 36px;
   width: 280px;
   margin-left: 20%;

  }

  .footer {
   background-color: #32B9CD;
   color: white;
   


  }

  .footer .container {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
  

  }

  .card {
    background-color: #e5e5e5;
    color: #e6005a;
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    width: 250px;



  }

  .card h2 {
      margin: 0;


  }

  form label {
     margin-top: 8px;


  }

  form input {
    margin-top: 8px;
    outline: 3px solid #32B9CD;
    border: 0;
    border-radius: 10px;
    padding: 8px;

  }

form button {
    margin-top: 16px;
    border-radius: 5px;
    padding: 8px;
    background-color: #e6005a;
    color: white;
    width: 120px;
    align-self: center;
    font-size: 18px;
    border: 0;
    cursor: pointer;

}

.informacao { 
    width: 150px;
    height: 200px;
    
}

.info .container  {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px 100px 0px 100px;
    align-items: baseline;
    

}

.info {
    background-color: rgba(214, 214, 214, 0.63);
    margin: 0%;
    padding: 0%;

}


span {
    color: #e6005a;
    font-weight: bolder;
    font-size: 35px;
    padding: 0%;

}

span .container {
  display: flex;
  justify-content: space-around;

}



.barra .container {
  display: flex;
  padding: 5px 100px 0px 100px;


}

.escrita {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0%;
  padding: 0%;

}

.visiom1 {
  
  display: flex;
  padding: 0px 5px 5px 5px;
  margin: 10%;
  height: 50px;
  width: 10%;
   
}


.escrita .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px;
  align-items: center;


}





